* {
  margin: 0;
  overflow: hidden;
}

@font-face {
  font-family: Akrobat-Regular;
  src: url(assets/Akrobat-ExtraBold.woff);
}

@font-face {
  font-family: Akrobat-ExtraBold;
  src: url(assets/Akrobat-ExtraBold.woff);
}

body {
  font-family: "Akrobat-Regular";
}

.container {
  width: 100vw;
  height: 100%;
  display: flex;
  background: #fff;
}

.main {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  height: 70%;
}

.right {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.box:not(:first-child)::before {
  content: "";
  display: block;
  width: 100%;
  background-color: #e1e1e1;
  height: 2px;
  margin-bottom: 70px;
}

.logo {
  width: 45%;
}

.school {
  margin: 5px;
  font-size: 60px;
}

.number {
  margin: 10px;
  font-size: 100px;
  font-family: Akrobat-ExtraBold;
}